.wrapper {
	width: 30%;
	margin: 5% auto 0;
}
#results {
	display: none;
}
a {
	text-decoration: none;
	background: #0F85D7;
	color: #FFF;
	font-family: helvetica, sans-serif;
	padding: 10px 21px;
	border: 1px solid #084471;
	font-size: 10pt;
	display: block;
	width: 54%;
}
form {
	width: 100%;
}
p, tr td, tr, table {
	font-family: helvetica, sans-serif;
	margin: 0 0 7px 0;
	box-sizing: border-box;
	font-size: 10pt;
}
input {
	width: 60%;
	border: 1px solid #999;
	color: #555;
	padding: 10px;
	margin: 0;
}
table tr {
	margin: 0 0 4px;
}
table tr td {
	color: #777;
}
table tr td.value {
	color: #333;
}